# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
populations = np.random.randint(1000,size=10) #整數範圍0-1000，產生10筆資料
populations

array([796,  74, 632, 298, 273, 388, 135, 484, 875, 892])

In [3]:
countries = ['Taiwan','America','England','Iceland','korea','Japan','India','Italy','Netherlands','China']

In [6]:
data = {'國家':countries ,
        '人口': populations}
df = pd.DataFrame(data)
df

            國家   人口
0       Taiwan  796
1      America   74
2      England  632
3      Iceland  298
4        korea  273
5        Japan  388
6        India  135
7        Italy  484
8  Netherlands  875
9        China  892

In [9]:
df.max()

國家    korea
人口      960
dtype: object